
/***** applied to each pages 📄📄📄 *****/

html, body
{
	/*background: url("pictures/background1.webp") fixed no-repeat;*/
	/*background: url("pictures/background3.png") scroll ;
	background-size: 250%;*/
	background-image: linear-gradient(to bottom, #452c63, #E6E6FA);
	background-repeat: no-repeat;
	/*background-position : 0px 0px;*/
	background-position: top left;

	/*when shrinking an elements, min_width correspond to the width untill which
	the elements shrink as well, beyond this boundaries the elements 'refuse' to shrink and 
	is cut*/
	min-width: 800px;

	/*browser calculate the margin*/
	margin: auto;
}

nav
{
	/*diplay: flex obligatoire pour réorganiser des blocs*/
	display: flex;

	/*on organise les blocs au centre*/
	justify-content: space-around;

	align-items: center;
}

nav a
{
	/*we remove the natural underline of the links*/
	text-decoration: none;

	text-align: center;
	padding: 10px;
	width: 15%;
}

.barre_menu
{
	/*font-size: x-large;*/
	font-size: 20px;
}

/*events when mouse on it*/
.barre_menu:hover
{
	box-shadow: 1px 1px 20px black;
	border-radius: 5px 5px 5px 5px;
}

/*cuando la pagina ya ha sida vista => este cambio occure*/
.barre_menu:visited
{
	color:  rgb(20, 20, 20);
}

/*déclaration d'une police personnalisée décrite dans des fichiers locaux*/
@font-face{
	font-family:  'rubik';
	src:  url(fonts/rubik/Rubik-Regular.ttf);
}

h1, h2
{
	/*title in Majuscule*/
	text-transform: uppercase;
}

h1
{
	text-align: center ;
	font-size: xx-large;             /*font-size: 2em;*/
	font-weight : bold;             /*gras*/
	background-color: #E6E6FA
}

h2
{
	font-size: large;               /*font-size: 1.3em;*/
	font-weight : bold;
	text-decoration: underline;    /*souligner h2*/
}

/*paragraphes et listes*/
p, ul
{
	color : black;
	font-size: medium;
	/*min-width: 1000000px;*/ /*sensé donner une largeur mini au dela de laquelle on ne peut reduire plus la fenetre*/
	/*border : 1px solid black;*/

	/*marge qui separe les balises des bordures top-right-bottom-left*/
	margin: 10px 0px 10px 10px;

	/*marge qui sépare le contenu des bords de sa balise*/
	padding: 10px;
}


.float_pic
{
	float : right;
}

/*l'image qui possède la source spécifiée*/
img[alt = "up_arrow"]
{
	height: 50px;

	width: auto;

	position : fixed;

	bottom: 10px;
	left: 10px;

	padding: 5px;
}


.contact_us_elmt
{
	color :green;
	/*marge qui separe les balises des bordures top-right-bottom-left*/
	margin: 0px;
	margin-right: 10px;
	margin-left: 10px;

	/*marge qui sépare le contenu des bords de sa balise*/
	padding: 5px;

	/*retirer underline*/
	text-decoration: none;
}

.contact_us_elmt:nth-child(1)
{
	color :grey;
	font-size: large;
}

.contact_us_elmt:nth-child(2)
{
	color : grey;
	font-size: large;
}

.contact_us
{
	/*blocs présentés en ligne*/
	display: flex;
	flex-direction:column ;
}

footer
{
	background-color: #b0b7e0;
	margin : 0px;
}


/*selecteur universel, selectionne toutes les balises sans exception*/
/*block used only for debugging*/
/**
{
	font-family: "rubik","system-ui","Verdana";
	color : black;
	border: 1px black solid; 
}*/
















/***** 📄 main_page.html *****/

/*elements de class "Horaires*/
.Horaires
{
	font-style: italic;
}


#banner
{
	margin-left: 0px;
	margin-right: 0px;

	/*the height of the chosen image*/
	height: 600px;
	border-radius: 5px;
	background: url("pictures/photo1.jpg") no-repeat;

	/*center the image*/
	background-position: center;

	/*stretch picture to make fit with the screen*/
	background-size: cover;

	/*by default static mode (in the flux)*/
	/*selecting fixed/relative/absolute allows us to write on the block*/
	/*lorsque on les positionne, les blocs enfants se placent par rapport au premier bloc
	parent positioné.
	D'ou la nécéssité de déclaré la bannière comme positionée en utilisant relative.*/
	/*Enable positioning for child blocs*/
	position: relative;
}

#banner #banner_description
{
	/*Enable reorganization*/
	display: flex;

	/*decription block height*/
	height: 30px;

	color: white;

	/*positionned according to its container*/
	/*posible because the parent bloc is positionned as well (relative)*/
	position: absolute;

	/*we chose the distance between the current block and the bottom of the container*/
	bottom: 10px;

	background-color: rgba(250, 250, 250, 0.5);

	/*secondary axe is the vertical one, we center the contenant according to the y axe*/
	align-items: center;

    /*adding padding we broaden the block*/
    /*The block as it is defined has no defined width and height*/
    /*it is why we had to reduce the width predentage afterwards*/
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 7px;
	padding-bottom: 7px;

	/*The elements occupy 99.2% of the parent's width (whithout the padding)*/
	/*With the padding it occups more*/
	width: 99.2%;
}

#banner #banner_description a
{
	/*positionning the button in the banner_description (parent container)*/
	position: absolute;
	right: 5px;

	/*intern margin*/
	padding: 5px;

	/*remove natural underline of links*/
	text-decoration: none;
	border-radius: 5px;

	background-color: orange;
}

#banner #banner_description a:hover
{
	box-shadow: 1px 1px 2px black;
}

















/***** 📄 page1.html VENTES *****/
.bike_in_sell
{
	/*bordure pour séparer les articles en vente*/
	border-bottom: 1px black groove;

	/*width of the block container for each bike*/
	width: 50%;

	/*on centre le bloc sur la page*/
	margin : auto;
}

.bike_in_sell img
{
	/*we fix the height of the img*/
	height: 300px;

	/*apply the width that allows to keep the same ratio of the img*/
	width: auto;
}

/*events occuring when mouse is on the element*/
.bike_in_sell:hover
{
	/*bordure + mise en relief avec ombre*/
	box-shadow: 1px 1px 20px black;
	border-radius: 10px 50px;
}

#bikes_list
{
	text-align: center;
	list-style-type: none;

	/*affichage en colomne (par défaut)*/
	display: flex;
	flex-direction: column;
}
























/***** 📄 page2.html PARCOURS VELO *****/

#container_parcours_velo
{
	/*enable blocks reorganization*/
	display: flex;

	/*default orientation, but to be sure*/
	flex-direction: column;

	min-width: 800px;
}


/*les images situées dans la balise #Alpes_road*/
#container_parcours_velo img
{
	/*redimensionne la hauteur*/
	height: 300px;

	/*redimensionne la largeur en préservant la largeur*/
	width: auto;
}


#container_parcours_velo .sub_container
{
	/*enable blocks reorganization*/
	display: flex;

	/*blocks orientation*/
	flex-direction: row;

	/*We place elements in left side*/
	justify-content: flex-start;

	/*on aère*/
	padding: 50px;

	/*We bring the elements closer to the middle*/
	padding-left: 200px;

	/*elements whithin the sub_container are strored in row*/
	/*The secondary axe is then column*/
	/*elements within sub_container are centered in column axis*/
	align-items: center;
}

/*le 2eme element enfant "sub_container" de la liste "container_parcours_velo"*/
#container_parcours_velo .sub_container:nth-child(2)
{
	/*inverse elements order*/
	/*inverse aussi le flex-start*/
	flex-direction: row-reverse;

	/*We bring the elements closer to the middle*/
	padding-right: 200px;
}


/*elements of sub_container which means img and article of sub_container*/
#container_parcours_velo .sub_container img,article
{
	margin : 30px;
}

#container_parcours_velo .sub_container article
{
	/*width of the article block*/
	width: 300px;

	/*height of the article block*/
	height: 350px;

	/*aerate the texte*/
	padding: 5px;

	/*determine the reaction of the navigator when the text is too big for the article block*/
	/*often equivalent to scroll option*/
	overflow: auto;

	/*put borders to the article blocks*/
	border: 1px black solid;

	/*curve the borders edges*/
	border-radius: 5px;
}































/***** 📕 DOCUMENTATION 

Affecte/concerne tous les éléments d'une même classe
.class
{

}

Affecte/concerne seulement l'élément dont l'id est spécifié, l'id est individuel
#id
{
	
}

met en valeur une case d'un formulaire
.classe: focus;
{
	
}

Par défaut tous les éléments/blocs dont en position 'static' c-à-dire dans le flux.
Des qu'on va changer la valeur de 'position' par absolute,relative... ils passeront en mode
"positionnés".
Ont ensuite accès à différentes properties : top,left,bottom
z-index : poids de la couche par rapport aux autres.

*****/

